@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


nav {
    display: flex; 
    justify-content: space-between;
}

 nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 20px;
    align-items: center;
}


nav ul li a {
    text-decoration: none;
    margin: 20px;
    color: #0D1137;
    font-weight: 500;
    padding: 5px 12px;
}

nav ul li a:hover {
    /* background-color: #0D1137; */
    background-color: #00FFA4;
    border-radius: 5px;
    border: none;
}

nav a {
    text-decoration: none;
    color: #000;
}

nav a h1 {
    margin: 20px;
}

nav ul li:nth-child(3) a {
    padding: 0;
}

nav ul li:nth-child(3) {
    border: 2px solid #0D1137;
    padding: 3px 0;
    /* margin-right: 20px; */
}

nav ul li:nth-child(3):hover {
    background-color: #00FFA4;
}

nav ul li:nth-child(4) {
    border: 2px solid #0D1137;
    padding: 3px 0;
    /* margin-right: 20px; */
}

nav ul li:nth-child(4):hover {
    background-color: #00FFA4;
}

.cards {
    width: 75%;
    margin: auto;
    /* background-color: #00FFA4; */
    padding: 25px;
    /* color: purple; */
    margin-top: 80px;
    /* height: 1000px;   */
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.card {
    border-radius: 15px;
    position: relative;
    display: flex;
    text-align: center;
    padding: 2em;
    background: #fdfbfb; background: -moz-linear-gradient(-121deg,  #fdfbfb 0%,#eaedee 100%); background: -webkit-linear-gradient(-121deg,  #fdfbfb 0%,#eaedee 100%); background: linear-gradient(-121deg,  #fdfbfb 0%,#eaedee 100%);
    flex-direction: column;
    width: 300px;
    height: 420px;
}


.profile-sidebar img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 3px solid purple;
}

.social-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    width: 125px;
    margin: 0 auto;
    font-size: 1.125rem;
}

.profile-name {
    font-size: 2rem;
    margin: 8px 0;
}

.profile-position {
    text-transform: uppercase;
    margin: 5px 0;
    text-decoration: bold;
}

.profile-skills p {
    display: inline-block;
    background-color: purple;
    padding: 8px 14px;
    color: #FFF;
    border-radius: 20px;
    margin: 5px;
}

.action-buttons {
    margin: 30px 0;
}

.action-buttons a {
    text-decoration: underline;
    background-color: #00FFA4;
    color: #0D1137;
    padding: 8px 40px;
    border-radius: 5px;
}

.action-buttons a:last-child {
    background-color: #0D1137;
    color: #00FFA4;
}

.add-profile a {
    padding: 5px 12px;
    background-color: #0D1137;
    border-radius: 5px;
    text-decoration: none;
    color: #FFF;
}

.add-profile a i {
    margin-left: 5px;
}

.modal-container {
    /* position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF173;
    padding: 20px; */
    transition: 0.5s;
}

/* .modal-container .content {
    position: relative;
    max-width: 800px;
} */


.modal-container .content a {
    position: relative;
    padding: 5px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #FFF;
    background: #111;
}

#blur.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.3);
    background: #FFF;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}